@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.navbar {
  border-bottom: 0.2rem solid black;
}

.btn-black-white {
  --c: white;
  --hc: black;
  font-size: 1.2rem;
  font-weight: bold;
  width: 7em;
  border: 0.3rem solid var(--hc);
  border-radius: 0.5rem;
  color: var(--c);
  text-transform: uppercase;
  background-color: var(--hc);
  transition: 0.25s;

  &:hover {
    color: var(--hc);
    box-shadow: inset 7em 0 var(--c);
  }
}

#user-menu-dropdown {
  span {
    cursor: pointer;

    img {
      height: 40px;
    }
  }
  .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.705);
  }

  .active {
    color: $dropdown-dark-color;
    background-color: $dropdown-dark-bg;
  }
}
