#bg-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  background: linear-gradient(-45deg, #000000, #363638, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
